[Unit]
Description = User Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_URL="redis://redis-dev.techdaws.online:6379"
Environment=MONGO_URL="mongodb://mongodb-dev.techdaws.online:27017/users"
Environment=CATALOGUE_HOST=catalogue-dev.techdaws.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target